<div class="container">
  <h1>Welcome to Sinatra!</h1>
  <p>Hello, world!</p>

  <button id="create_post">Create new</button>

  <form action="/post/new" method="post">

    <input name="title" type="text" placeholder="Title">
    <textarea name="content"></textarea>
    <% Tag.all.each_with_index do |tag, i| %>
      <input name=<%="tags[" + tag.name + "]"%> type="checkbox" > <%=tag.name%>
    <% end %>
    <input type="submit" value="Submit">

  </form>

  <form action="/tags" method="post">
    <% Tag.all.each_with_index do |tag, i| %>
      <input name=<%="tags[" + tag.name + "]"%> type="checkbox" > <%=tag.name%>
    <% end %>
    <input type="submit" value="Filter">
  </form>

  <div class="posts">
    <% @posts.each do |post| %>
      <p><a href="/post/<%= post.id%>"><%= post.title %></a></p>
    <% end %>
  </div>
</div>

