<div class="container">
  <h1>Anonymous Blog</h1>

  <div class="create_post">
    <button id="create_post">Create new</button>

    <form action="/post/new" method="post">

      <input name="title" type="text" placeholder="Title">
      <textarea name="content"></textarea>
      <% Tag.all.each_with_index do |tag, i| %>
        <input name=<%="tags[" + tag.name + "]"%> type="checkbox" > <%=tag.name%>
      <% end %>
      <input type="submit" value="Submit">

    </form>
  </div>

  <h2>Search Posts</h2>

  <form action="/tags" method="post">
    <% Tag.all.each_with_index do |tag, i| %>
      <input name=<%="tags[" + tag.name + "]"%> type="checkbox" > <%=tag.name%>
    <% end %>
    <br><br>
    <input type="submit" value="Filter">
  </form>

  <div class="posts">
    <% @posts.each do |post| %>
      <p><a href="/post/<%= post.id%>"><%= post.title %></a></p>
    <% end %>
  </div>
</div>

